//variables

//colors
$color-primary-oniBlue: hsl(205, 56%, 44%);
$color-primary-oniDarkBlue: hsl(212, 50%, 45%);
$color-primary-oniSkyBlue: hsl(216, 45%, 43%);
$color-primary-oniMangeta: hsl(332, 69%, 53%);
$color-primary-oniBlack: hsl(0, 5%, 13%);
$color-primary-oniDirtyWhite: hsl(0, 15%, 90%);



/* general styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @extend %flex-layout;

  background-color: $color-primary-oniDirtyWhite;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

main {
  @extend %flex-layout;

  flex-flow: column;
  position: relative;



  .main__image {
    position: absolute;
    top: 40px;
    height: max(800px, 45vw);
  }


  .main__rectangle {
    width: 0;
    height: 0;
    // create a triangle
    border-top: 160px solid transparent;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 600px solid $color-primary-oniSkyBlue;
  }


  .main__loaders {
    @extend %flex-layout;

    margin-top: 3em;

    .main__loader {
        // opacity: 0;
        height: min(40px, 7.5vw);
        width: min(40px, 7.5vw);
        background-color: $color-primary-oniBlue;
        transition: .3s linear;
        animation: rotateAndChangeColor 1500ms .2s infinite;
    }


    .squareOne {
      animation-delay: .65s;
    }

    .squareTwo {
      animation-delay: .99s;

    }

    .main__loader + .main__loader {
      margin-left: 1em;
    }
  }
}


//squares 
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30%;
  
  .menu__square {
    width: min(3em, 200px);
    height: 3em;
    background-color: $color-primary-oniDarkBlue;
  }

  .menu__name {
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: clamp(10px, 2rem, 40px);
    padding: .3em 0.15em;
  }

}



//animations keyframes
@keyframes rotateAndChangeColor {
    0%   {
        transform: rotate(0deg);
        background-color: $color-primary-oniDarkBlue;
        border-radius: 0;
    }
    50%  {
        transform: rotate(180deg);
        background-color: $color-primary-oniMangeta;
        border-radius: 50px;
    }
    100% {
        transform: rotate(180deg);
        border-radius: 0;
    }
  
}