//variables

//colors
$color-primary-oniBlue: hsl(205, 56%, 44%);
$color-primary-oniDarkBlue: hsl(212, 50%, 45%);
$color-primary-oniSkyBlue: hsl(216, 45%, 43%);
$color-primary-oniMangeta: hsl(332, 69%, 53%);
$color-primary-oniBlack: hsl(0, 5%, 13%);


//font styles


//margins, paddings


//transitions


/* general styles */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


